[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/usr/bin/env xremap %h/.config/xremap/config.rb
ExecStop=/usr/bin/killall xremap
Restart=always
Environment=DISPLAY=:0.0

[Install]
WantedBy=graphical.target
