[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=xremap /home/k0kubun/.xremap
ExecStop=/usr/bin/killall xremap
Restart=always
Environment=DISPLAY=:0.0

[Install]
WantedBy=graphical.target
